/vendor
/node_modules
/template/app/node_modules
/class-01/app/node_modules
/class-02/app/node_modules
/class-03/app/node_modules
/class-04/app/node_modules
/bower_components
/template/app/bower_components
/class-01/app/bower_components
/class-02/app/bower_components
/class-03/app/bower_components
/class-04/app/bower_components
/nbproject/private/
/nbproject/
Homestead.yaml
Homestead.json
.env
*~
composer.lock
