<h1 ></h1>

<h1 class="page-header" ng-bind-html="vm.pageTitle"></h1>
<p>You can use with Twitter API, bot or manual.</p>
<!-- code start -->
<div class="profile-div">
    <a class="profile-bg profile-block"></a>

    <div>
        <div class="profile-button">
            <a href="https://twitter.com/saitamaoficial" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false"
                data-dnt="true">Follow @saitama</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            <!-- Twitter Button -->
        </div>

        <a title="Mert Salih Kaplan" href="https://twitter.com/saitamaoficial" class="profile-avatarLink">
            <img alt="Mert Salih Kaplan" src="assets/images/avata.jpg" class="profile-avatarImg">
        </a>

        <div class="profile-divUser">
            <div class="profile-divName">
                <a href="https://twitter.com/saitamaoficial">Saitama</a>
            </div>
            <span>
                <a href="https://twitter.com/saitamaoficial">@
                    <span>saitama</span>
                </a>
            </span>
        </div>

        <div class="profile-divStats">
            <ul class="profile-Arrange">
                <li class="profile-ArrangeSizeFit">
                    <a href="https://twitter.com/saitamaoficial" title="9.840 Tweet">
                        <span class="profile-StatLabel profile-block">Tweets</span>
                        <span class="profile-StatValue">9.840</span>
                    </a>
                </li>
                <li class="profile-ArrangeSizeFit">
                    <a href="https://twitter.com/saitama/following" title="885 Following">
                        <span class="profile-StatLabel profile-block">Following</span>
                        <span class="profile-StatValue">885</span>
                    </a>
                </li>
                <li class="profile-ArrangeSizeFit">
                    <a href="https://twitter.com/saitama/followers" title="1.810 Followers">
                        <span class="profile-StatLabel profile-block">Followers</span>
                        <span class="profile-StatValue">1.810</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- code end -->
